.video-head{
    color: #232323;
    font-size: 24px;
    font-family: "Open Sans", Helvetica, Verdana, Tahoma, sans-serif;
    max-width: 1170px;
    margin: 0 auto;
    border-bottom: 1px solid red;
    margin-bottom: 10px;
    padding-bottom: 10px;
    max-width: 1170px;
    margin: 0 auto !important;
}
.video-sub-head{
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans", Helvetica, Verdana, Tahoma, sans-serif;
    max-width: 1170px;
    margin: 0 auto !important;
    margin-top: 60px;
    padding-top: 10px;
}
.video-content{
    color: #232323;
    font-size: 24px;
    font-family: "Open Sans", Helvetica, Verdana, Tahoma, sans-serif;
    max-width: 1170px;
    margin-top: 50px !important;
    margin-bottom: 10px;
    padding-bottom: 10px;
    max-width: 1170px;
}
.row.component.column-splitter{
    max-width: 1170px;
    margin: 0 auto;
}
video{
    margin-bottom: 40px;
    margin-top: 60px !important;
}
.video-sub-content{
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans", Helvetica, Verdana, Tahoma, sans-serif;
    max-width: 432px;
}
.wrapper-video{
    border-left-width: 3px;
    border-left-color: #c00;
    border-style: solid;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-top-color: #fff;
    margin-top: 52px;
    padding-left: 30px;
}